/* Css */

* :focus {
	outline: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F9F6F5
}

article {
	width: 100%;
	float: left;	
}

#survivalGraph {
	float: right;
	margin: 3em;
	border:0.025em solid #000000;
	border-radius:0.5em;
}

IMG.displayed {
	display: block;
    margin-left: auto;
    margin-right: auto;
}


header {
	font-family: Georgia;
	color: #7B554D;
	font-size: 36px;
	font-weight: normal;
	text-align:left;
}

h1 {
	font-family: Georgia;
	clear: left;
	color: #7B554D;
	font-weight: normal;
	font-size: 18px;
	text-align:center;
	margin-bottom:1em;
}

h2 {
	font-family: Georgia;
	font-weight: normal;
	font-size: 22px;
	color: #7B554D;
}

h3{
	font-family: Georgia;
	font-weight: normal;
	font-size: 12pt;
	color: #9C8079;
}
th.top-grey{
	border-top: 4px solid #cdbfbc;
	color: #cdbfbc;
}
th.top-grey-right{
	border-top: 4px solid #cdbfbc;
	color: #cdbfbc;
	border-right: none;
}
th.top-full-grey{
	color: #cdbfbc;
	border-top: 4px solid #cdbfbc;
	border-right: none;
	border-left: none;
	border-bottom: none;
}
th.bottom-full-grey{
	color: #cdbfbc;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
}
th.top-right{
	border-top: 4px solid #cdbfbc;
	color: #9C8079;
	border-right: none;
}
th.middle-grey{
	color: #cdbfbc;
}
th.left-grey{
	color: #cdbfbc;
	border-left: none;
}
th.right-grey{
	color: #cdbfbc;
	border-right: none;
}

th.top{
	border-top: 4px solid #cdbfbc;
	color: #9C8079;
}


td.bottom{
	border-bottom: 1px solid #cdbfbc;
	border-top: none;
	color: #9C8079;
}

td.bottom-full{
	border-bottom: 1px solid #cdbfbc;
	border-right: none;
	border-left: none;
	border-top: none;
	color: #cdbfbc;
}

td.right{
	border-bottom: 1px solid #cdbfbc;
	border-top: none;
	border-right: none;
	color: #9C8079;
}
td.left{
	border-bottom: 1px solid #cdbfbc;
	border-top: none;
	border-left: none;
	color: #9C8079;
}
th{
	text-align: left;
	color: #9C8079;
}

td,th{
	font-size: 10pt;
	font-family: Georgia;
	border-right: 1px solid #cdbfbc;
	border-top: 1px solid #cdbfbc;
}

table{
	font-size: 12pt;
	font-family: Georgia;
	border-color: #cdbfbc;
	border-collapse: collapse;
	width: 100%;
	}
td{
	line-height: 4px #cdbfbc;
	border-style: solid;
	border-collapse: collapse;
	border-bottom: none;
	border-right: 1px solid #cdbfbc;
	border-left: 1px solid #cdbfbc;
	}

.asterisk {
	color: #d45252;	
}

:-moz-placeholder {
    color: grey;
}
 
::-webkit-input-placeholder {
    color: grey;
}
.bcd_form input { 
    background-color: #F9F6F5;
	border: none;
    margin:0.25em;
	font-size: 18pt;
	color: #9C8079;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  border: none;
  font-size: 18pt;
  font-family: Georgia;
}

input [type='number' i] {
	margin:0.25em;
	background-color: #F9F6F5;
	border: none;
	font-size: 18pt;
	color: #9C8079;
	font-family: Georgia;
}

input [type="text" i] {
	margin:0.25em;
	background-color: #F9F6F5;
	border: none;
	font-size: 18pt;
	color: ##9C8079;
	width: 100%;
	font-family: Georgia;
}

.bcd_form input:focus {
    background: #F9F6F5; 
    border:1px ; 
    box-shadow: 0 0 3px #aaa; 
	color: #9C8079;
	font-family: Georgia;
}

.bcd form input [type='checkbox'] {
	margin-lef:0.5em;
}

input.checkbox {
	margin-left:1.5em;
}
select {
	border: none;
	margin:0.25em;
	background: #F9F6F5;
	color: #7B554D;
	font-size: 16pt;
	width: 90%;
}

fieldset {
	border: none;
	background-color:#F9F6F5;
}
fieldset legend {
	background-color:#F9F6F5;

}


ul li {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* Button Style */
input.start, input.generalInfo {
	display: block;
	margin-left: auto;
    margin-right: auto; 
	background: #72884E;
	background-image: -webkit-linear-gradient(top, #72884E, #72884E);
	background-image: -moz-linear-gradient(top, #72884E, #72884E);
	background-image: -ms-linear-gradient(top, #72884E, #72884E);
	background-image: -o-linear-gradient(top, #72884E, #72884E);
	background-image: linear-gradient(to bottom, #72884E, #72884E);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 50px 10px 50px;
	text-decoration: none;
}
input.start:hover, input.generalInfo:hover {
    opacity:.85;
    cursor: pointer; 
}

input.start:active, input.generalInfo:active {
	background: #72884E;
	background-image: -webkit-linear-gradient(top, #72884E, #0f7809);
	background-image: -moz-linear-gradient(top, #72884E, #0f7809);
	background-image: -ms-linear-gradient(top, #72884E, #0f7809);
	background-image: -o-linear-gradient(top, #72884E, #0f7809);
	background-image: linear-gradient(to bottom, #72884E, #0f7809);
	text-decoration: none;
}

